#card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
#game-card {
    padding: 2px 16px;
  }

#games {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: 20%;
}

#selector {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 auto;
  margin-left: 20%;
}

select{
  width: 88px;
  height: 50px;
}